MINIO_ROOT_PASSWORD=your_minio_root_password
MINIO_ROOT_USER=your_minio_root_user
MINIO_SERVER_URL=your_minio_url
MYSQL_DATABASE=your_default_creating_database_name
MYSQL_PASSWORD=your_default_mysql_password
MYSQL_ROOT_PASSWORD=your_root_mysql_password
MYSQL_USER=your_default_mysql_user
RABBITMQ_DEFAULT_PASS=your_default_rabbitmq_pass
RABBITMQ_DEFAULT_USER=your_default_rabbitmq_user
REDIS_PASSWORD=your_default_redis_password