BASE_URL=your_base_url
DB_HOST=your_db_host
DB_NAME=your_db_name
DB_PASS=your_db_pass
DB_USER=your_db_user
EMAIL_HOST=your_email_host
EMAIL_PASS=minio_email_pass
EMAIL_PORT=your_email_port
EMAIL_USER=your_email_user
JWT_EXPIRE_TIME=your_expire_time
JWT_SECRET=your_jwt_secret
MINIO_ENDPOINT=your_minio_endpoint
MINIO_PORT=your_minio_port
MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key
PORT=your_main_port
RABBITMQ_HOST=your_rabbitmq_host
RABBITMQ_PASSWORD=your_rabbitmq_password
RABBITMQ_PORT=your_rabbitmq_port
RABBITMQ_USER=rabbitmqadminnarco
REDIS_HOST=your_redis_host
REDIS_PASSWORD=your_redis_password
REDIS_PORT=your_redis_port
REDIS_USERNAME=redisnarcodb
TWILIO_AUTH_TOKEN=your_twilio_token
TWILIO_PHONE_NUMBER=your_twilio_phone_number
TWILIO_SID=your_twilio_sid
IYZICO_API_KEY=your_iyzico_api_key
IYZICO_SECRET_KEY=your_iyzico_secret_key
#First Deploy Environments
MINIO_ROOT_PASSWORD=your_minio_root_password
MINIO_ROOT_USER=your_minio_root_user
MINIO_SERVER_URL=your_minio_url
MYSQL_DATABASE=your_default_creating_database_name
MYSQL_PASSWORD=your_default_mysql_password
MYSQL_ROOT_PASSWORD=your_root_mysql_password
MYSQL_USER=your_default_mysql_user
RABBITMQ_DEFAULT_PASS=your_default_rabbitmq_pass
RABBITMQ_DEFAULT_USER=your_default_rabbitmq_user
REDIS_PASSWORD=your_default_redis_password