{
  "openapi": "3.0.0",
  "info": {
    "title": "NarcoLepsy API Gateway",
    "version": "1.0.0",
    "description": "This backend system is designed to power the NarcoLepsy magazine platform.",
    "contact": {
      "name": "Halil İbrahim Direktör",
      "email": "hidirektor@gmail.com",
      "url": "https://hidirektor.com.tr"
    }
  },
  "servers": [
    {
      "url": "https://api.narcolepsy.com/v1/",
      "description": "Main Server"
    },
    {
      "url": "https://upload.narcolepsy.com/v1/",
      "description": "Upload Server"
    }
  ],
  "externalDocs": {
    "description": "Postman Collection v2.1",
    "url": "https://api.narcolepsy.com.tr/docs/postman.json"
  },
  "paths": {
    "auth/sign-up": {
      "post": {
        "summary": "Register a new user",
        "description": "Creates a new user account in the system.",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userName": {
                    "type": "string"
                  },
                  "userSurname": {
                    "type": "string"
                  },
                  "eMail": {
                    "type": "string"
                  },
                  "nickName": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "countryCode": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "birthDate": {
                    "type": "string"
                  },
                  "profilePhotoID": {
                    "type": "string"
                  }
                },
                "required": [
                  "userName",
                  "userSurname",
                  "eMail",
                  "nickName",
                  "phoneNumber",
                  "countryCode",
                  "password",
                  "birthDate",
                  "profilePhotoID"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered."
          },
          "400": {
            "description": "There was a problem adding the user!"
          },
          "403": {
            "description": "Validation error."
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    },
    "auth/sign-in": {
      "post": {
        "summary": "Authenticate user and provide access token",
        "description": "Authenticates the user and returns a token. Dont forget: you can choose eMail - password or phoneNumber - countryCode - password combination.",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eMail": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "countryCode": {
                    "type": "string"
                  },
                  "rememberMe": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "eMail",
                  "password",
                  "rememberMe"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "findUser": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "userID": {
                          "type": "string",
                          "example": "7d83ce4d-4853-43d6-8d6c-fdbaa2c1539a"
                        },
                        "userName": {
                          "type": "string",
                          "example": "Halil İbrahim"
                        },
                        "userSurname": {
                          "type": "string",
                          "example": "Direktör"
                        },
                        "eMail": {
                          "type": "string",
                          "example": "hidirektor@gmail.com"
                        },
                        "nickName": {
                          "type": "string",
                          "example": "hidirektor"
                        },
                        "phoneNumber": {
                          "type": "string",
                          "example": "5556783423"
                        },
                        "countryCode": {
                          "type": "string",
                          "example": "+90"
                        },
                        "password": {
                          "type": "string",
                          "example": "$2a$10$suV//NKJ1kkbSeRc97Not.JRB6GVfirsC7cSPBQxO67Cb6LymPS.a"
                        },
                        "userType": {
                          "type": "string",
                          "example": "PREMIUM"
                        }
                      }
                    },
                    "accessToken": {
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySUQiOiI3ZTU2OThjYS05Yjg3LTQ5ZTMtODNhZC1jZjJiODdhNzEyNzEiLCJ1c2VyVHlwZSI6IlVTRVIiLCJpYXQiOjE3MzM2NzU0MDYsImV4cCI6MTczMzc2MTgwNn0.321Id3qv6fxLLT7CIKbSQPlgX3ilgNIdMA-Z1h9StEk"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Check your credentials!"
          },
          "403": {
            "description": "Validation error."
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    },
    "auth/change-password": {
      "post": {
        "summary": "Update the user’s password securely",
        "description": "Allows the user to change their password.",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userName": {
                    "type": "string"
                  },
                  "oldPassword": {
                    "type": "string"
                  },
                  "newPassword": {
                    "type": "string"
                  },
                  "closeSessions": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "userName",
                  "oldPassword",
                  "newPassword",
                  "closeSessions"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed successfully"
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Validation error."
          }
        },
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "auth/reset-password": {
      "post": {
        "summary": "Reset password",
        "description": "Sends a password reset link to the user.",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userName": {
                    "type": "string"
                  },
                  "newPassword": {
                    "type": "string"
                  },
                  "otpCode": {
                    "type": "string"
                  }
                },
                "required": [
                  "userName",
                  "newPassword",
                  "otpCode"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successfully"
          },
          "403": {
            "description": "Validation error."
          },
          "404": {
            "description": "Error resetting password."
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    },
    "auth/logout": {
      "post": {
        "summary": "Logout user",
        "description": "Logs out the current user.",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userID": {
                    "type": "string"
                  },
                  "token": {
                    "type": "string"
                  }
                },
                "required": [
                  "userID",
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logout successful"
          },
          "403": {
            "description": "Validation error."
          },
          "500": {
            "description": "Error logging out"
          }
        },
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "auth/verify/{userID}": {
      "get": {
        "summary": "Verify User Email",
        "description": "The unique identifier of the user whose email is being verified.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "required": false,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Your email has been successfully verified!"
          },
          "403": {
            "description": "Validation error."
          },
          "404": {
            "description": "User email is already verified."
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    },
    "auth/send-otp": {
      "post": {
        "summary": "Send OTP",
        "description": "This endpoint sends otp to verified user methods. It will try send both eMail and SMS otp.",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userName": {
                    "type": "string"
                  }
                },
                "required": [
                  "userName"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP Code sent successfully"
          },
          "403": {
            "description": "Validation error."
          },
          "404": {
            "description": "OTP code has already been generated for this user."
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    },
    "auth/verify-otp": {
      "post": {
        "summary": "Verify OTP",
        "description": "This endpoint verifies entered otp code. And its not must used for any reset process. You can use reset-password endpoint directly.",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userName": {
                    "type": "string"
                  },
                  "otpCode": {
                    "type": "string"
                  }
                },
                "required": [
                  "userName",
                  "otpCode"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP Code verified successfully"
          },
          "403": {
            "description": "Validation error."
          },
          "404": {
            "description": "Invalid OTP code."
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    },
    "payment/start-checkout-form": {
      "post": {
        "summary": "Initialize CF",
        "description": "Initialize CF from Iyzico.",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userID": {
                    "type": "string"
                  },
                  "packageID": {
                    "type": "string"
                  },
                  "ipAddress": {
                    "type": "string"
                  }
                },
                "required": [
                  "userID",
                  "packageID",
                  "ipAddress"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "CF data sent successfully."
          },
          "400": {
            "description": "Failed to initialize checkout."
          },
          "403": {
            "description": "Validation error."
          }
        },
        "tags": [
          "Payment"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "payment/check-payment/{userID}": {
      "post": {
        "summary": "Check User Payment On Web",
        "description": "This endpoint for payment callback.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "required": false,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Your payment has been successfully verified!"
          },
          "403": {
            "description": "Validation error."
          },
          "404": {
            "description": "Your payment already verified."
          }
        },
        "tags": [
          "Payment"
        ]
      }
    },
    "payment/verify-payment/{userID}": {
      "get": {
        "summary": "Verify User Payment On Web",
        "description": "The unique identifier of the user whose payment is being verified.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "required": false,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Your payment has been successfully verified!"
          },
          "403": {
            "description": "Validation error."
          },
          "404": {
            "description": "Your payment already verified."
          }
        },
        "tags": [
          "Payment"
        ]
      }
    },
    "user/get-profile": {
      "post": {
        "summary": "Retrieve user profile information",
        "description": "Fetches the detailed profile information of the authenticated user. Ensure the user is authenticated by providing a valid access token.",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eMail": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "countryCode": {
                    "type": "string"
                  }
                },
                "required": [
                  "eMail"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile retrieve successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userData": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "userID": {
                          "type": "string",
                          "example": "7d83ce4d-4853-43d6-8d6c-fdbaa2c1539a"
                        },
                        "userName": {
                          "type": "string",
                          "example": "Halil İbrahim"
                        },
                        "userSurname": {
                          "type": "string",
                          "example": "Direktör"
                        },
                        "eMail": {
                          "type": "string",
                          "example": "hidirektor@gmail.com"
                        },
                        "nickName": {
                          "type": "string",
                          "example": "hidirektor"
                        },
                        "phoneNumber": {
                          "type": "string",
                          "example": "5556783423"
                        },
                        "countryCode": {
                          "type": "string",
                          "example": "+90"
                        },
                        "password": {
                          "type": "string",
                          "example": "$2a$10$suV//NKJ1kkbSeRc97Not.JRB6GVfirsC7cSPBQxO67Cb6LymPS.a"
                        },
                        "userType": {
                          "type": "string",
                          "example": "PREMIUM"
                        }
                      }
                    },
                    "profileData": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "userID": {
                          "type": "string",
                          "example": "7d83ce4d-4853-43d6-8d6c-fdbaa2c1539a"
                        },
                        "profilePhotoID": {
                          "type": "string",
                          "example": "7d83ce4d-4853-43d6-8d6c-fdbaa2c1539a"
                        },
                        "avatarID": {
                          "type": "string",
                          "example": "7d83ce4d-4853-43d6-8d6c-fdbaa2c1539a"
                        },
                        "isActive": {
                          "type": "boolean",
                          "example": "true"
                        },
                        "birthDate": {
                          "type": "string",
                          "example": "1734023795"
                        },
                        "updateDate": {
                          "type": "string",
                          "example": "1734023795"
                        }
                      }
                    },
                    "preferencesData": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "userID": {
                          "type": "string",
                          "example": "7d83ce4d-4853-43d6-8d6c-fdbaa2c1539a"
                        },
                        "profilePhotoID": {
                          "type": "string",
                          "example": "7d83ce4d-4853-43d6-8d6c-fdbaa2c1539a"
                        },
                        "language": {
                          "type": "string",
                          "example": "tr"
                        },
                        "themeColor": {
                          "type": "string",
                          "example": "dark"
                        },
                        "pushNotification": {
                          "type": "boolean",
                          "example": "true"
                        },
                        "mailNotification": {
                          "type": "boolean",
                          "example": "true"
                        }
                      }
                    },
                    "verificationData": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "userID": {
                          "type": "string",
                          "example": "7d83ce4d-4853-43d6-8d6c-fdbaa2c1539a"
                        },
                        "mailVerification": {
                          "type": "string",
                          "example": "1734023795"
                        },
                        "phoneVerification": {
                          "type": "string",
                          "example": "1734023795"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "User not found!"
          },
          "403": {
            "description": "Validation error."
          }
        },
        "tags": [
          "User Profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "user/update-profile": {
      "post": {
        "summary": "Update user profile information",
        "description": "Allows authenticated users to update their profile details, including personal information, preferences, and other settings. The request body determines which fields to update, and any changes will also update the profile's timestamp. Ensure the user is authenticated by providing a valid access token.",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eMail": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "countryCode": {
                    "type": "string"
                  },
                  "userName": {
                    "type": "string"
                  },
                  "userSurname": {
                    "type": "string"
                  },
                  "nickName": {
                    "type": "string"
                  },
                  "birthDate": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string"
                  },
                  "themeColor": {
                    "type": "string"
                  },
                  "pushNotification": {
                    "type": "boolean"
                  },
                  "mailNotification": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "eMail"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile update successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userData": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "userID": {
                          "type": "string",
                          "example": "7d83ce4d-4853-43d6-8d6c-fdbaa2c1539a"
                        },
                        "userName": {
                          "type": "string",
                          "example": "Halil İbrahim"
                        },
                        "userSurname": {
                          "type": "string",
                          "example": "Direktör"
                        },
                        "eMail": {
                          "type": "string",
                          "example": "hidirektor@gmail.com"
                        },
                        "nickName": {
                          "type": "string",
                          "example": "hidirektor"
                        },
                        "phoneNumber": {
                          "type": "string",
                          "example": "5556783423"
                        },
                        "countryCode": {
                          "type": "string",
                          "example": "+90"
                        },
                        "password": {
                          "type": "string",
                          "example": "$2a$10$suV//NKJ1kkbSeRc97Not.JRB6GVfirsC7cSPBQxO67Cb6LymPS.a"
                        },
                        "userType": {
                          "type": "string",
                          "example": "PREMIUM"
                        }
                      }
                    },
                    "profileData": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "userID": {
                          "type": "string",
                          "example": "7d83ce4d-4853-43d6-8d6c-fdbaa2c1539a"
                        },
                        "profilePhotoID": {
                          "type": "string",
                          "example": "7d83ce4d-4853-43d6-8d6c-fdbaa2c1539a"
                        },
                        "avatarID": {
                          "type": "string",
                          "example": "7d83ce4d-4853-43d6-8d6c-fdbaa2c1539a"
                        },
                        "isActive": {
                          "type": "boolean",
                          "example": "true"
                        },
                        "birthDate": {
                          "type": "string",
                          "example": "1734023795"
                        },
                        "updateDate": {
                          "type": "string",
                          "example": "1734023795"
                        }
                      }
                    },
                    "preferencesData": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "userID": {
                          "type": "string",
                          "example": "7d83ce4d-4853-43d6-8d6c-fdbaa2c1539a"
                        },
                        "profilePhotoID": {
                          "type": "string",
                          "example": "7d83ce4d-4853-43d6-8d6c-fdbaa2c1539a"
                        },
                        "language": {
                          "type": "string",
                          "example": "tr"
                        },
                        "themeColor": {
                          "type": "string",
                          "example": "dark"
                        },
                        "pushNotification": {
                          "type": "boolean",
                          "example": "true"
                        },
                        "mailNotification": {
                          "type": "boolean",
                          "example": "true"
                        }
                      }
                    },
                    "verificationData": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "userID": {
                          "type": "string",
                          "example": "7d83ce4d-4853-43d6-8d6c-fdbaa2c1539a"
                        },
                        "mailVerification": {
                          "type": "string",
                          "example": "1734023795"
                        },
                        "phoneVerification": {
                          "type": "string",
                          "example": "1734023795"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "User not found!"
          },
          "403": {
            "description": "Validation error."
          }
        },
        "tags": [
          "User Profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "file/upload-profile-photo": {
      "post": {
        "summary": "Upload user profile photo",
        "description": "Uploads a profile photo for the specified user, identified either by eMail or by phoneNumber and countryCode. Accepts multipart/form-data.",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eMail": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "countryCode": {
                    "type": "string"
                  },
                  "profilePhoto": {
                    "type": "file"
                  }
                },
                "required": [
                  "profilePhoto"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "File uploaded successfully"
                    },
                    "fileName": {
                      "type": "string",
                      "example": "profilephoto.jpg"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Validation error."
          },
          "404": {
            "description": "User not found!"
          }
        },
        "tags": [
          "File Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "file/get-profile-photo/{eMail}": {
      "get": {
        "summary": "Fetch user profile photo",
        "description": "Retrieves the profile photo of a user based on their email address. Returns the image file directly.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "eMail",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile photo fetched successfully",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "User or profile photo not found."
          },
          "500": {
            "description": "Internal server error occurred while fetching the profile photo."
          }
        },
        "tags": [
          "File Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "comic-categories/get-all": {
      "get": {
        "summary": "List all Comic Category Management",
        "description": "Retrieves a list of all Comic Category Management. Requires a valid token and one of the following roles: EDITOR, MODERATOR, SYSOP.",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "A list of Comic Category Management",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "categoryID": {
                        "type": "string",
                        "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                      },
                      "categoryName": {
                        "type": "string",
                        "example": "Action"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized or Invalid Token"
          },
          "403": {
            "description": "Forbidden: Your role does not have access to this resource."
          }
        },
        "tags": [
          "Comic Category Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "comic-categories/get/{categoryID}": {
      "get": {
        "summary": "Get a specific comic category",
        "description": "Retrieves a specific comic category by its unique ID. Requires valid token and role (EDITOR, MODERATOR, SYSOP).",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "categoryID",
            "in": "path",
            "required": false,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Comic category detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "categoryID": {
                      "type": "string",
                      "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                    },
                    "categoryName": {
                      "type": "string",
                      "example": "Action"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized or Invalid Token"
          },
          "403": {
            "description": "Forbidden: Your role does not have access to this resource."
          },
          "404": {
            "description": "Category not found."
          }
        },
        "tags": [
          "Comic Category Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "comic-categories/create-category": {
      "post": {
        "summary": "Create a new comic category",
        "description": "Creates a new comic category. Requires valid token and role (EDITOR, MODERATOR, SYSOP).",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "categoryName": {
                    "type": "string"
                  }
                },
                "required": [
                  "categoryName"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Category created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "categoryID": {
                      "type": "string",
                      "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                    },
                    "categoryName": {
                      "type": "string",
                      "example": "Adventure"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Missing or invalid categoryName"
          },
          "401": {
            "description": "Unauthorized or Invalid Token"
          },
          "403": {
            "description": "Forbidden: Your role does not have access to this resource."
          }
        },
        "tags": [
          "Comic Category Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "comic-categories/edit-category": {
      "post": {
        "summary": "Edit an existing comic category",
        "description": "Updates the specified comic category. Requires valid token and role (EDITOR, MODERATOR, SYSOP).",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "categoryID": {
                    "type": "string"
                  },
                  "categoryName": {
                    "type": "string"
                  }
                },
                "required": [
                  "categoryID",
                  "categoryName"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Category updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "categoryID": {
                      "type": "string",
                      "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                    },
                    "categoryName": {
                      "type": "string",
                      "example": "Action - Updated"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Missing or invalid categoryName"
          },
          "401": {
            "description": "Unauthorized or Invalid Token"
          },
          "403": {
            "description": "Forbidden: Your role does not have access to this resource."
          },
          "404": {
            "description": "Category not found."
          }
        },
        "tags": [
          "Comic Category Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "comic-categories/delete-category/{categoryID}": {
      "delete": {
        "summary": "Delete a comic category",
        "description": "Deletes the specified comic category. Requires valid token and role (EDITOR, MODERATOR, SYSOP).",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "categoryID",
            "in": "path",
            "required": false,
            "schema": {}
          }
        ],
        "responses": {
          "204": {
            "description": "Category deletion started successfully. Mappings require confirmation for deletion.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Category deletion started successfully. Mappings require confirmation for deletion."
                    },
                    "operationKey": {
                      "type": "string",
                      "example": "5728bf67-575f-48bd-b299-3ea145228a66"
                    },
                    "afftecedComics": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 4
                          },
                          "categoryID": {
                            "type": "string",
                            "example": "ef3d5aff-2917-4b3c-9ef1-a5950c3f67c4"
                          },
                          "comicID": {
                            "type": "string",
                            "example": "546435tgsdfsdf"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized or Invalid Token"
          },
          "403": {
            "description": "Forbidden: Your role does not have access to this resource."
          },
          "404": {
            "description": "Category not found."
          }
        },
        "tags": [
          "Comic Category Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "comic-categories/confirm-delete-category": {
      "post": {
        "summary": "Confirm deletion of a comic category",
        "description": "This endpoint confirms the deletion of a comic category and its related mappings. Requires valid token and role (EDITOR, MODERATOR, SYSOP).",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operationKey": {
                    "type": "string"
                  }
                },
                "required": [
                  "operationKey"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Category deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Category deleted successfully."
                    },
                    "afftecedComics": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 4
                          },
                          "categoryID": {
                            "type": "string",
                            "example": "ef3d5aff-2917-4b3c-9ef1-a5950c3f67c4"
                          },
                          "comicID": {
                            "type": "string",
                            "example": "546435tgsdfsdf"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired operation key"
          },
          "401": {
            "description": "Unauthorized or Invalid Token"
          },
          "403": {
            "description": "Invalid token for this operation"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Comic Category Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "premium-packages/get-all": {
      "get": {
        "summary": "List all premium packages",
        "description": "Retrieves a list of all premium packages. Requires a valid token.",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "A list of premium packages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "packageID": {
                        "type": "string",
                        "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                      },
                      "packageName": {
                        "type": "string",
                        "example": "Premium"
                      },
                      "packageDescription": {
                        "type": "string",
                        "example": "HD kullanılabilir.\nUltra HD kullanılabilir."
                      },
                      "packagePrice": {
                        "type": "double",
                        "example": "54.99"
                      },
                      "packageTime": {
                        "type": "integer",
                        "example": "30"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized or Invalid Token"
          },
          "403": {
            "description": "Forbidden: Your role does not have access to this resource."
          }
        },
        "tags": [
          "Premium Packages"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "premium-packages/get/{packageID}": {
      "get": {
        "summary": "Get a specific premium package",
        "description": "Retrieves a specific premium package by its unique ID. Requires valid token.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "packageID",
            "in": "path",
            "required": false,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Premium package detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "categoryID": {
                      "type": "string",
                      "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                    },
                    "packageName": {
                      "type": "string",
                      "example": "Premium"
                    },
                    "packageDescription": {
                      "type": "string",
                      "example": "HD kullanılabilir.\nUltra HD kullanılabilir."
                    },
                    "packagePrice": {
                      "type": "double",
                      "example": "54.99"
                    },
                    "packageTime": {
                      "type": "integer",
                      "example": "30"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized or Invalid Token"
          },
          "403": {
            "description": "Forbidden: Your role does not have access to this resource."
          },
          "404": {
            "description": "Premium package not found."
          }
        },
        "tags": [
          "Premium Packages"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "premium-packages/create-premium-package": {
      "post": {
        "summary": "Create a new premium package",
        "description": "Creates a new premium package. Requires valid token and role (SYSOP).",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "packageName": {
                    "type": "string"
                  },
                  "packageDescription": {
                    "type": "string"
                  },
                  "packagePrice": {
                    "type": "double"
                  },
                  "packageTime": {
                    "type": "integer"
                  }
                },
                "required": [
                  "packageName",
                  "packageDescription",
                  "packagePrice",
                  "packageTime"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Premium package created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "packageID": {
                      "type": "string",
                      "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                    },
                    "packageName": {
                      "type": "string",
                      "example": "Premium"
                    },
                    "packageDescription": {
                      "type": "string",
                      "example": "HD kullanılabilir.\nUltra HD kullanılabilir."
                    },
                    "packagePrice": {
                      "type": "double",
                      "example": "54.99"
                    },
                    "packageTime": {
                      "type": "integer",
                      "example": "30"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Missing or invalid categoryName"
          },
          "401": {
            "description": "Unauthorized or Invalid Token"
          },
          "403": {
            "description": "Forbidden: Your role does not have access to this resource."
          }
        },
        "tags": [
          "Premium Packages"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "premium-packages/edit-premium-package": {
      "post": {
        "summary": "Edit an existing premium package",
        "description": "Updates the specified premium package. Requires valid token and role (SYSOP).",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "packageID": {
                    "type": "string"
                  },
                  "packageName": {
                    "type": "string"
                  },
                  "packageDescription": {
                    "type": "string"
                  },
                  "packagePrice": {
                    "type": "double"
                  },
                  "packageTime": {
                    "type": "integer"
                  }
                },
                "required": [
                  "packageID",
                  "packageName",
                  "packageDescription",
                  "packagePrice",
                  "packageTime"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Premium package updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "packageID": {
                      "type": "string",
                      "example": "f47ac10b-58cc-4372-a567-0e02b2c3d479"
                    },
                    "packageName": {
                      "type": "string",
                      "example": "Premium"
                    },
                    "packageDescription": {
                      "type": "string",
                      "example": "HD kullanılabilir.\nUltra HD kullanılabilir."
                    },
                    "packagePrice": {
                      "type": "double",
                      "example": "54.99"
                    },
                    "packageTime": {
                      "type": "integer",
                      "example": "30"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request: Missing or invalid packageName, packageDescription, packagePrice, packageTime"
          },
          "401": {
            "description": "Unauthorized or Invalid Token"
          },
          "403": {
            "description": "Forbidden: Your role does not have access to this resource."
          },
          "404": {
            "description": "Premium package not found."
          }
        },
        "tags": [
          "Premium Packages"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "premium-packages/delete-premium-package/{packageID}": {
      "delete": {
        "summary": "Delete a premium package",
        "description": "Deletes the specified premium package. Requires valid token and role (SYSOP).",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "packageID",
            "in": "path",
            "required": false,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Premium package deleted or required confirmation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Premium package deletion requires confirmation. Use the provided operation key to confirm."
                    },
                    "operationKey": {
                      "type": "string",
                      "example": "78e2249c-b9dd-4e72-afef-f0ae6396f891"
                    },
                    "affectedPremiumPackage": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 6
                        },
                        "packageID": {
                          "type": "string",
                          "example": "fc224dd0-b26b-4536-b6fe-e3a8a38f8a05"
                        },
                        "packageName": {
                          "type": "string",
                          "example": "Premium"
                        },
                        "packageDescription": {
                          "type": "string",
                          "example": "HD kullanılabilir.\nUltra HD kullanılabilir."
                        },
                        "packagePrice": {
                          "type": "number",
                          "format": "float",
                          "example": 0.2
                        },
                        "packageTime": {
                          "type": "integer",
                          "example": 30
                        }
                      }
                    },
                    "deletedPremiumUsers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userID": {
                            "type": "string",
                            "example": "150cf986-e74e-4e80-b7a0-b22e0e0348b7"
                          },
                          "userName": {
                            "type": "string",
                            "example": "Halil İbrahim"
                          },
                          "userSurname": {
                            "type": "string",
                            "example": "Direktör"
                          },
                          "eMail": {
                            "type": "string",
                            "example": "hidirektor@gmail.com"
                          }
                        }
                      }
                    },
                    "affectedOrders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 3
                          },
                          "userID": {
                            "type": "string",
                            "example": "150cf986-e74e-4e80-b7a0-b22e0e0348b7"
                          },
                          "orderID": {
                            "type": "string",
                            "example": "547f5c16-4189-448a-96db-f394ae8dc80d"
                          },
                          "packageID": {
                            "type": "string",
                            "example": "fc224dd0-b26b-4536-b6fe-e3a8a38f8a05"
                          },
                          "paymentMethod": {
                            "type": "string",
                            "example": "Iyzico"
                          },
                          "paymentStatus": {
                            "type": "string",
                            "example": "COMPLETED"
                          },
                          "orderPrice": {
                            "type": "number",
                            "format": "float",
                            "example": 0.2
                          },
                          "userIP": {
                            "type": "string",
                            "example": "192.168.2.2"
                          },
                          "iyzicoToken": {
                            "type": "string",
                            "example": "613b5b2b-0192-4530-a2ef-85a1431b4eea"
                          },
                          "iyzicoSignature": {
                            "type": "string",
                            "example": "6dac12f81c509e5c78387e140201ee6cfc2db30cb081d15bd02ce22b906cdd23"
                          },
                          "orderDate": {
                            "type": "integer",
                            "example": 1734132274
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized or Invalid Token"
          },
          "403": {
            "description": "Forbidden: Your role does not have access to this resource."
          },
          "404": {
            "description": "Premium package not found."
          }
        },
        "tags": [
          "Premium Packages"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "premium-packages/confirm-delete-premium-package": {
      "post": {
        "summary": "Confirm deletion of premium package",
        "description": "This endpoint confirms the deletion of a premium package and its related mappings. Requires valid token and role (SYSOP).",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operationKey": {
                    "type": "string"
                  }
                },
                "required": [
                  "operationKey"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Premium package deletion requires confirmation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Premium package deletion requires confirmation. Use the provided operation key to confirm."
                    },
                    "affectedPremiumPackage": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 6
                        },
                        "packageID": {
                          "type": "string",
                          "example": "fc224dd0-b26b-4536-b6fe-e3a8a38f8a05"
                        },
                        "packageName": {
                          "type": "string",
                          "example": "Premium"
                        },
                        "packageDescription": {
                          "type": "string",
                          "example": "HD kullanılabilir.\nUltra HD kullanılabilir."
                        },
                        "packagePrice": {
                          "type": "number",
                          "format": "float",
                          "example": 0.2
                        },
                        "packageTime": {
                          "type": "integer",
                          "example": 30
                        }
                      }
                    },
                    "deletedPremiumUsers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userID": {
                            "type": "string",
                            "example": "150cf986-e74e-4e80-b7a0-b22e0e0348b7"
                          },
                          "userName": {
                            "type": "string",
                            "example": "Halil İbrahim"
                          },
                          "userSurname": {
                            "type": "string",
                            "example": "Direktör"
                          },
                          "eMail": {
                            "type": "string",
                            "example": "hidirektor@gmail.com"
                          }
                        }
                      }
                    },
                    "affectedOrders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 3
                          },
                          "userID": {
                            "type": "string",
                            "example": "150cf986-e74e-4e80-b7a0-b22e0e0348b7"
                          },
                          "orderID": {
                            "type": "string",
                            "example": "547f5c16-4189-448a-96db-f394ae8dc80d"
                          },
                          "packageID": {
                            "type": "string",
                            "example": "fc224dd0-b26b-4536-b6fe-e3a8a38f8a05"
                          },
                          "paymentMethod": {
                            "type": "string",
                            "example": "Iyzico"
                          },
                          "paymentStatus": {
                            "type": "string",
                            "example": "COMPLETED"
                          },
                          "orderPrice": {
                            "type": "number",
                            "format": "float",
                            "example": 0.2
                          },
                          "userIP": {
                            "type": "string",
                            "example": "192.168.2.2"
                          },
                          "iyzicoToken": {
                            "type": "string",
                            "example": "613b5b2b-0192-4530-a2ef-85a1431b4eea"
                          },
                          "iyzicoSignature": {
                            "type": "string",
                            "example": "6dac12f81c509e5c78387e140201ee6cfc2db30cb081d15bd02ce22b906cdd23"
                          },
                          "orderDate": {
                            "type": "integer",
                            "example": 1734132274
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired operation key"
          },
          "401": {
            "description": "Unauthorized or Invalid Token"
          },
          "403": {
            "description": "Invalid token for this operation"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Premium Packages"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "support-tickets/create-ticket": {
      "post": {
        "summary": "Create a ticket",
        "description": "Allows users to create a ticket without attachments.",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eMail": {
                    "type": "string"
                  },
                  "ticketType": {
                    "type": "string"
                  },
                  "ticketTitle": {
                    "type": "string"
                  },
                  "ticketDescription": {
                    "type": "string"
                  },
                  "comicID": {
                    "type": "string"
                  },
                  "episodeID": {
                    "type": "string"
                  }
                },
                "required": [
                  "eMail",
                  "ticketType",
                  "ticketTitle",
                  "ticketDescription"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ticket created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Ticket created successfully"
                    },
                    "ticketData": {
                      "type": "object",
                      "properties": {
                        "ticketID": {
                          "type": "string",
                          "example": "uuid-v4-string"
                        },
                        "userID": {
                          "type": "string",
                          "example": "uuid-v4-string"
                        },
                        "ticketType": {
                          "type": "string",
                          "example": "SUGGESTION"
                        },
                        "ticketTitle": {
                          "type": "string",
                          "example": "App Issue"
                        },
                        "ticketDescription": {
                          "type": "string",
                          "example": "Detailed description of the issue"
                        },
                        "ticketStatus": {
                          "type": "string",
                          "example": "CREATED"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error: Missing fields"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Support Tickets Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "support-tickets/create-ticket/with-attachment": {
      "post": {
        "summary": "Create a ticket with attachments",
        "description": "Allows users to create a ticket with one or more attachments (max 3).",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eMail": {
                    "type": "string"
                  },
                  "ticketType": {
                    "type": "string"
                  },
                  "ticketTitle": {
                    "type": "string"
                  },
                  "ticketDescription": {
                    "type": "string"
                  },
                  "comicID": {
                    "type": "string"
                  },
                  "episodeID": {
                    "type": "string"
                  },
                  "attachments": {
                    "type": "array"
                  }
                },
                "required": [
                  "eMail",
                  "ticketType",
                  "ticketTitle",
                  "ticketDescription",
                  "attachments"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ticket created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Ticket created with attachments"
                    },
                    "ticketData": {
                      "type": "object",
                      "properties": {
                        "ticketID": {
                          "type": "string",
                          "example": "uuid-v4-string"
                        },
                        "userID": {
                          "type": "string",
                          "example": "uuid-v4-string"
                        },
                        "ticketType": {
                          "type": "string",
                          "example": "SUGGESTION"
                        },
                        "ticketTitle": {
                          "type": "string",
                          "example": "App Issue"
                        },
                        "ticketDescription": {
                          "type": "string",
                          "example": "Detailed description of the issue"
                        },
                        "ticketStatus": {
                          "type": "string",
                          "example": "CREATED"
                        },
                        "ticketAttachments": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "path/to/attachment.jpg"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error: Missing fields or invalid attachment count"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Support Tickets Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "support-tickets/reply-ticket": {
      "post": {
        "summary": "Reply to a ticket",
        "description": "Allows users to reply to an existing ticket without attachments.",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eMail": {
                    "type": "string"
                  },
                  "ticketID": {
                    "type": "string"
                  },
                  "ticketResponse": {
                    "type": "string"
                  }
                },
                "required": [
                  "eMail",
                  "ticketID",
                  "ticketResponse"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reply added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Reply added successfully"
                    },
                    "responseData": {
                      "type": "object",
                      "properties": {
                        "responseID": {
                          "type": "string",
                          "example": "uuid-v4-string"
                        },
                        "ticketID": {
                          "type": "string",
                          "example": "uuid-v4-string"
                        },
                        "userID": {
                          "type": "string",
                          "example": "uuid-v4-string"
                        },
                        "ticketResponse": {
                          "type": "string",
                          "example": "Reply content"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error: Missing fields"
          },
          "404": {
            "description": "User or ticket not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Support Tickets Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "support-tickets/reply-ticket/with-attachment": {
      "post": {
        "summary": "Reply to a ticket with attachments",
        "description": "Allows users to reply to an existing ticket and upload attachments.",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eMail": {
                    "type": "string"
                  },
                  "ticketID": {
                    "type": "string"
                  },
                  "ticketResponse": {
                    "type": "string"
                  },
                  "attachments": {
                    "type": "array"
                  }
                },
                "required": [
                  "eMail",
                  "ticketID",
                  "ticketResponse",
                  "attachments"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reply added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Reply added with attachments"
                    },
                    "responseData": {
                      "type": "object",
                      "properties": {
                        "responseID": {
                          "type": "string",
                          "example": "uuid-v4-string"
                        },
                        "ticketID": {
                          "type": "string",
                          "example": "uuid-v4-string"
                        },
                        "userID": {
                          "type": "string",
                          "example": "uuid-v4-string"
                        },
                        "ticketResponse": {
                          "type": "string",
                          "example": "Reply content"
                        },
                        "responseAttachments": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "path/to/attachment.jpg"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error: Missing fields or invalid attachment count"
          },
          "404": {
            "description": "User or ticket not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Support Tickets Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "support-tickets/delete-ticket/{ticketID}": {
      "delete": {
        "summary": "Initiate deletion of a ticket",
        "description": "Allows SYSOP users to initiate ticket deletion. Returns an operation key for confirmation.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ticketID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ticket deletion initiation successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Ticket deletion requires confirmation. Use the provided operation key to confirm."
                    },
                    "operationKey": {
                      "type": "string",
                      "example": "uuid-v4-string"
                    },
                    "ticketData": {
                      "type": "object",
                      "properties": {
                        "ticketID": {
                          "type": "string",
                          "example": "uuid-v4-string"
                        },
                        "ticketType": {
                          "type": "string",
                          "example": "SUGGESTION"
                        },
                        "ticketTitle": {
                          "type": "string",
                          "example": "App Issue"
                        },
                        "ticketDescription": {
                          "type": "string",
                          "example": "Detailed description of the issue"
                        },
                        "ticketStatus": {
                          "type": "string",
                          "example": "CREATED"
                        }
                      }
                    },
                    "responseData": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "responseID": {
                            "type": "string",
                            "example": "uuid-v4-string"
                          },
                          "ticketResponse": {
                            "type": "string",
                            "example": "Reply content"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error: Invalid ticket ID or other issues"
          },
          "403": {
            "description": "Unauthorized: Only SYSOP users can access this endpoint"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Support Tickets Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "support-tickets/confirm-delete-ticket": {
      "post": {
        "summary": "Confirm ticket deletion",
        "description": "Allows SYSOP users to confirm ticket deletion using an operation key. Deletes the ticket and its associated data.",
        "consumes": [
          "application/json"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operationKey": {
                    "type": "string"
                  }
                },
                "required": [
                  "operationKey"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ticket and associated data deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Ticket and associated data deleted successfully."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired operation key."
          },
          "403": {
            "description": "Unauthorized: Only SYSOP users can access this endpoint"
          },
          "404": {
            "description": "Ticket not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Support Tickets Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "support-tickets/get-all": {
      "get": {
        "summary": "Fetch all tickets",
        "description": "Allows SYSOP users to fetch all tickets and their responses. Optionally filter by ticket status. Optional filter for ticket status (e.g., CREATED, ANSWERED, CUSTOMER_RESPONSE).",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tickets fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Tickets fetched successfully"
                    },
                    "tickets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ticketID": {
                            "type": "string",
                            "example": "uuid-v4-string"
                          },
                          "ticketType": {
                            "type": "string",
                            "example": "SUGGESTION"
                          },
                          "ticketTitle": {
                            "type": "string",
                            "example": "App Issue"
                          },
                          "ticketDescription": {
                            "type": "string",
                            "example": "Detailed description of the issue"
                          },
                          "ticketStatus": {
                            "type": "string",
                            "example": "CREATED"
                          }
                        }
                      }
                    },
                    "responses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "responseID": {
                            "type": "string",
                            "example": "uuid-v4-string"
                          },
                          "ticketResponse": {
                            "type": "string",
                            "example": "Reply content"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized: Only SYSOP users can access this endpoint"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Support Tickets Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "support-tickets/get-ticket/{ticketID}": {
      "get": {
        "summary": "Fetch specific ticket and responses",
        "description": "Fetches a specific ticket and its associated responses by ticket ID.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ticketID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ticket and responses fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Ticket fetched successfully"
                    },
                    "ticket": {
                      "type": "object",
                      "properties": {
                        "ticketID": {
                          "type": "string",
                          "example": "uuid-v4-string"
                        },
                        "ticketType": {
                          "type": "string",
                          "example": "SUGGESTION"
                        },
                        "ticketTitle": {
                          "type": "string",
                          "example": "App Issue"
                        },
                        "ticketDescription": {
                          "type": "string",
                          "example": "Detailed description of the issue"
                        },
                        "ticketStatus": {
                          "type": "string",
                          "example": "CREATED"
                        }
                      }
                    },
                    "responses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "responseID": {
                            "type": "string",
                            "example": "uuid-v4-string"
                          },
                          "ticketResponse": {
                            "type": "string",
                            "example": "Reply content"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ticket not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Support Tickets Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "support-tickets/get-response/{responseID}": {
      "get": {
        "summary": "Fetch specific response",
        "description": "Fetches a specific response by its response ID.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "responseID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Response fetched successfully"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "responseID": {
                          "type": "string",
                          "example": "uuid-v4-string"
                        },
                        "ticketID": {
                          "type": "string",
                          "example": "uuid-v4-string"
                        },
                        "ticketResponse": {
                          "type": "string",
                          "example": "Reply content"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Response not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Support Tickets Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "support-tickets/get-responses/{ticketID}": {
      "get": {
        "summary": "Fetch all responses for a ticket",
        "description": "Fetches all responses associated with a specific ticket by ticket ID.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ticketID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Responses fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Responses fetched successfully"
                    },
                    "responses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "responseID": {
                            "type": "string",
                            "example": "uuid-v4-string"
                          },
                          "ticketResponse": {
                            "type": "string",
                            "example": "Reply content"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Ticket not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Support Tickets Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "support-tickets/get-user-ticket/{eMail}": {
      "get": {
        "summary": "Fetch user tickets and responses",
        "description": "Fetches all tickets and responses for a specific user by their email address.",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "eMail",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User tickets and responses fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User tickets fetched successfully"
                    },
                    "tickets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ticketID": {
                            "type": "string",
                            "example": "uuid-v4-string"
                          },
                          "ticketType": {
                            "type": "string",
                            "example": "SUGGESTION"
                          },
                          "ticketTitle": {
                            "type": "string",
                            "example": "App Issue"
                          },
                          "ticketDescription": {
                            "type": "string",
                            "example": "Detailed description of the issue"
                          },
                          "ticketStatus": {
                            "type": "string",
                            "example": "CREATED"
                          }
                        }
                      }
                    },
                    "responses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "responseID": {
                            "type": "string",
                            "example": "uuid-v4-string"
                          },
                          "ticketResponse": {
                            "type": "string",
                            "example": "Reply content"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "Support Tickets Management"
        ],
        "security": [
          {
            "bearerAuth": []
          }
[...]
